/* Varibles */

:root {
    
}

body {
    font-family: 'Roboto', sans-serif;
}

/* Header configs */

header {
    background: url('../img/header_bg.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

/* Footer */

footer {
}
