/* Varibles */

:root {
    --job-skill: #c41230;
    --line-color: #c41230;
    --small-heading: #8e8e8e;
}

body {
    font-family: 'Roboto', sans-serif;
}


/* Header configs */

header {
    width: 100%;
    height: 100vh;
}

.header-background {
    background: url('../img/header_bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

body>header>div>div.navigation {
    display: inline-block;
    width: 100%;
    padding: 1% 10%;
    margin-left: auto;
    margin-right: auto;
}


/* Logo in the header */

.diwanee-logo {
    position: relative;
    float: left;
    width: 200px;
    height: 50px;
}


/* Nav Links */

body > header > div > div.navigation > nav > ul {
    position: relative;
    float: right;
}

body > header > div > div.navigation > nav > ul > div > a {
    text-decoration: none;
    color: #000;
}

body > header > div > div.navigation > nav > ul > div > a > li {
    display: inline;
    padding: 0 15px;
    text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
    body > header > div > div.navigation > nav > ul > div.hamburger-toggle {
        display: none;
    }
}
/* Hamburger menu */
@media screen and (max-width: 800px) {
    .hamburger-menu {
        float: right;
        height: 50px;
        width: 50px;
        margin-right: 2%;
        background: url('../img/hamburger-menu.png') no-repeat;
    }
    .navlinks {
        z-index: 99999999;
        overflow: hidden;
        background: rgba(38, 36, 34, 0.97);
        width: 100%;
        height: 0;
    }
    .navlinks.open {
        position: absolute;
        padding: 0 !important;
        height: 90vh;
        margin-top: 15%;
        animation: roll 300ms;
        -moz-animation: roll 300ms;
        -o-animation: roll 300ms;
    }
    @keyframes roll {
         0% {
           height: 0vh;
         }
         50% {
           height: 45vh;
         }
         100% {
           height: 90vh;
         }
    }
    .navlinks a li {
        display: block !important;
        float: none;
        text-align: center;
        text-transform: uppercase;
        width: 100%;
        margin: 0;
        font-size: 32px;
    }
    .navlinks a {
        color: var(--small-heading) !important;
        padding: 10% 0;
        display: block;
        margin: 0;
        text-decoration: none;
    }
    .hamburger-toggle {
        overflow: hidden;
        display: block;
        margin: 0 auto;
        width: 90%;
    }
    body > header > div > div.navigation > nav > ul > div:nth-child(1) {
        display: block;
        padding: 25% 0;
    }
    body > header > div > div.navigation > nav > ul > div > p {
        display: inline-block;
        width: 68.5%;
        font-size: 24px;
        text-transform: uppercase;
        color: var(--small-heading);
    }
    body > header > div > div.navigation > nav > ul > div > div {
        display: inline-block;
        width: 30%;
    }
    body > header > div > div.navigation > nav > ul > div > div > a {
        display: inline-block;
        font-size: 36px;
        padding: 0 10%;
    }
}


/* Diwanee Serbian title in header */

body>header>div>div.header-main-content {
    position: relative;
    width: 65%;
    display: block;
    margin: 0 auto;
}


/* Mobile Phones and Tablets */

@media screen and (max-width: 1200px) {
    body>header>div>div.header-main-content {
        width: 100%;
        padding: 0 5px;
    }
    body>header>div>div.header-main-content>h1 {
        font-size: 55px !important;
    }
    body>header>div>div.navigation {
        display: inline-block;
        width: 100%;
        padding: 3% 0 !important;
        margin-left: auto;
        margin-right: auto;
    }
}

body>header>div>div.header-main-content>h1 {
    font-size: 106px;
    text-align: center;
    text-transform: uppercase;
}

body>header>div>div.header-main-content>div.bottom-line,
#jobs>div>div,
#about>div>div {
    display: block;
    margin: 0 auto;
    width: 10%;
    height: 2px;
    background: var(--line-color);
}

body>header>div>div.header-main-content>div.header-text>p {
    font-size: 36px;
    text-align: center;
}


/* Sections beneath the header */

body>div.header-section {
    width: 100%;
    height: inherit;
}

#development>div.development,
#web_ui_design>div.web_ui_design,
#work_in_team>div.work_in_team {
    display: block;
    margin: 0 auto;
    width: 70%;
}

#development>div>img,
#web_ui_design>div>img,
#work_in_team>div>img {
    display: table;
    margin: 0 auto;
    padding: 5% 0;
}

#development>div>p.section-title,
#web_ui_design>div>p.section-title,
#work_in_team>div>p.section-title {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bold;
}

#development>div>p.section-text,
#web_ui_design>div>p.section-text,
#work_in_team>div>p.section-text {
    text-align: center;
    color: #666666;
    letter-spacing: 1px;
    line-height: 24px;
}

#development>div>div,
#web_ui_design>div>div,
#work_in_team>div>div {
    display: block;
    margin: 0 auto;
    width: 10%;
    height: 2px;
    background: #c4c4c4;
}


/* Development */

#development {
    display: inline-block;
    background: #fbfbfb;
    width: 33.333333%;
    height: inherit;
    padding: 2% 0;
}


/* Web & UI development */

#web_ui_design {
    display: inline-block;
    background: #ededed;
    width: 33.333333%;
    height: inherit;
    margin-left: -4px;
    margin-top: -2px;
    padding: 2% 0;
}


/* Work in team */

#work_in_team {
    display: inline-block;
    background: #fbfbfb;
    width: 33.333333%;
    height: inherit;
    margin-left: -4px;
    margin-top: -2px;
    padding: 2% 0;
}


/* Mobile & tablet */

@media screen and (max-width: 1200px) {
    #development,
    #web_ui_design,
    #work_in_team,
    #development>div.development,
    #web_ui_design>div.web_ui_design,
    #work_in_team>div.work_in_team {
        width: 100%;
        padding: 5% 0 !important;
    }
    #development>div>p.section-text, #web_ui_design>div>p.section-text, #work_in_team>div>p.section-text {
        width: 90%;
        margin: 0 auto;
    }
    div.header-section > section > div > div.section-bottom-line {
        margin-bottom: 4% !important;
    }
}


/* Jobs section */

#jobs {
    width: 100%;
    height: inherit;
}

#jobs>div.jobs-main {
    display: block;
    margin: 0 auto;
    width: 65%;
    padding: 5% 0;
}

#jobs>section>div {
    margin: 0 auto;
    width: 65%;
    padding: 4% 0;
}


/* Main jobs section */

#jobs>div>p:nth-child(1) {
    text-align: center;
    text-transform: uppercase;
    color: var(--small-heading);
}

#jobs>div>h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 50pt;
}

#jobs>div>p:nth-child(4) {
    text-align: center;
    font-size: 24pt;
    font-weight: 300;
}


/* Mobile & tablet */

@media screen and (max-width: 1200px) {
    #jobs>div.jobs-main {
        width: 100%;
    }
    #jobs>div.jobs-main>p:nth-child(4) {
        margin: 0 auto;
        width: 90%;
        padding: 5% 0;
    }
}


/* Jobs */

section>div>div.apply {
    display: inline-block;
    width: 100%;
}

#jobs>section>div>div>p {
    display: inline-block;
    position: relative;
    width: 50%;
    padding-bottom: 3%; 
}

section>div>div>a {
    position: relative;
    float: right;
    text-transform: uppercase;
}


/* Mobile & tablet */

@media screen and (max-width: 1200px) {
    #jobs>section>div {
        margin: 0 auto;
        width: 90%;
        padding: 5% 0;
    }
    #jobs>section>div>div>p {
        width: 100%;
    }
    #jobs>section>div>div>a {
        display: none !important;
    }
    #jobs>section>div>a {
        border: none !important;
        padding-left: 0 !important;
        padding-right: 5px !important;
    }
    #jobs>section {
        padding: 15% 0;
    }
}


/* Skills for jobs */

#jobs>section>div>a {
    padding: 5px 15px;
    border: 1px solid grey;
    border-radius: 3px;
    color: var(--job-skill);
    text-decoration: none;
    -moz-text-decoration: none;
}


/* Apply button */

#jobs>section>div>div>a {
    display: table-cell;
    padding: 10px 15px;
    border: 1px solid #000;
    color: #000;
    text-decoration: none;
    -moz-text-decoration: none;
    width: 20%;
    text-align: center;
    vertical-align: middle;
    border-radius: 3px;
    margin-top: 1%;
}


/* Job roles */

#jobs>section>div>h2 {
    text-transform: uppercase;
    margin-top: 0;
}


/* Project Manager job */

#jobs>section:nth-child(3) {
    background: #222;
    color: #fff;
}

#jobs>section:nth-child(3)>div>h2:hover,
#jobs>section:nth-child(3)>div>div>p:hover {
    color: #f2f2f2;
}

#jobs>section:nth-child(3)>div>a {
    color: #fff;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

#jobs>section:nth-child(3)>div>a:hover {
    color: #000;
    background: #fff;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

#jobs>section:nth-child(3)>div>div>a {
    border: 1px solid #fff;
    color: #fff;
    text-transform: uppercase;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

#jobs>section:nth-child(3)>div>div>a:hover {
    background: #f2f2f2;
    color: #000;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}


/* Load more job posts */

#jobs>div.more-jobs {
    padding: 5% 0;
}

#jobs>div.more-jobs>a {
    background: #eee;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    -moz-text-decoration: none;
    display: block;
    margin: 0 auto;
    width: 15%;
    color: black;
}


/* Mobile & tablet */

@media screen and (max-width: 1200px) {
    #jobs>div.more-jobs>a {
        width: 50%;
    }
}


/* About */

#about {
    background: #fbfbfb;
}

#about>div {
    margin: 0 auto;
    width: 65%;
    padding: 5% 0;
}

#about>div>p:nth-child(1) {
    text-align: center;
    text-transform: uppercase;
    color: var(--small-heading);
}

#about>div>h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 50pt;
}

#about>div>p:nth-child(4) {
    line-height: 26px;
    font-size: 16pt;
    text-align: left;
}


/* Mobile & tablet */

@media screen and (max-width: 1200px) {
    #about>div {
        margin: 0 auto;
        width: 90%;
        padding: 5% 0;
    }
    #about>div>p:nth-child(4) {
        line-height: 36px;
    }
}


/* Social "Follow us" */

body>div.social-media {
    padding: 5% 0;
}

body>div.social-media>p {
    text-align: center;
    text-transform: uppercase;
    color: var(--small-heading);
}

body>div.social-media>div {
    margin: 0 auto;
    width: 8%;
}

body>div.social-media>div>div.twitter {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: #1da1f2;
}

body>div.social-media>div>div.facebook {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: #4267b2;
}

body>div.social-media>div>div>a {
    text-decoration: none;
}

body>div.social-media>div>div>a>i {
    color: white;
    font-size: 34px;
    display: flex;
    justify-content: center;
    margin-top: 15%;
}


/* Mobile & tablet */

@media screen and (max-width: 1200px) {
    body>div.social-media>div>div {
        width: 60px !important;
        height: 60px !important;
    }
    body>div.social-media>div {
        margin: 0 auto;
        width: 30%;
    }
    body>div.social-media>div>div>a>i {
        margin-top: 25%;
    }
}


/* Footer */

footer {
    background: #1e1e1e;
}

body>footer>div.locations {
    background: #222;
    padding: 5% 0;
}

body>footer>div.locations>div>div {
    display: inline-block;
}

body>footer>div.locations>div {
    margin: 0 auto;
    width: 70%;
}

body>footer>div.copyright {
    margin: 0 auto;
    width: 70%;
}


/* Locations */

body>footer>div.locations>div>div>ul {
    padding: 0 !important;
}

body>footer>div.locations>div>div>ul>li {
    list-style: none;
}


/* Mobile & tablet */

@media screen and (max-width: 1200px) {
    body>footer>div.locations>div,
    body>footer>div.bottom-footer {
        margin: 0 auto;
        width: 90% !important;
    }
    body>footer>div.locations>div>div {
        width: 100% !important;
    }
}


/* Pins */

body>footer>div.locations>div>div>h4:before {
    content: "\f041";
    color: #c41230;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 36px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 4%;
}

body>footer>div.locations>div>div>h4 {
    text-transform: uppercase;
    color: #fff;
}

body>footer>div.locations>div>div>ul>li {
    color: #666666;
}


/* Dubai */

body>footer>div.locations>div>div.dubai {
    width: 41.666667%;
}


/* Beirut */

body>footer>div.locations>div>div.beirut {
    width: 35%;
}


/* Belgrade */

body>footer>div.locations>div>div.belgrade {
    width: 20%;
}

body>footer>div.locations>div>div.belgrade>ul>li:nth-child(4) {
    visibility: hidden;
}


/* Copyright */

body>footer>div.bottom-footer {
    display: block;
    width: 70%;
    margin: 0 auto;
    padding: 10px 0;
}

body>footer>div.bottom-footer>div {
    display: inline-block;
    width: 80%;
    height: inherit;
}

body>footer>div.bottom-footer>div>p {
    display: inline-block;
    width: 87%;
    color: #666666;
}

body > footer > div.bottom-footer > div > div > a > i {
    float: right;
    color: #666666;
    font-size: 28px;
    padding: 0 10px;
    margin-bottom: -5%;
}

body>footer>div.bottom-footer>p {
    display: inline;
    margin: 0 !important;
    color: #666666;
}

body > footer > div.bottom-footer > div > div {
    display: inline-block;
    width: 12%;
}

@media screen and (max-width: 1200px) {
    body>footer>div.bottom-footer>div {
        display: block;
        width: 100%;
    }
    body>footer>div.bottom-footer>div>p {
        width: 70%;
    }
    body > footer > div.bottom-footer > div > div {
        width: 27%;
    }
    body>footer>div.bottom-footer>p {
        margin-top: 0;
        display: block;
        text-align: center;
    }        
}


/* Back to top */

.cd-top {
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 5px;
    right: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    /* image replacement properties */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: rgba(196, 18, 48, 0.8) url(../img/cd-top-arrow.svg) no-repeat center 50%;
    visibility: hidden;
    opacity: 0;
    border-radius: 100px;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
}

.cd-top.cd-is-visible,
.cd-top.cd-fade-out,
.no-touch .cd-top:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
}

.cd-top.cd-is-visible {
    /* the button becomes visible */
    visibility: visible;
    opacity: 1;
}

.cd-top.cd-fade-out {
    /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
    opacity: .5;
}

.no-touch .cd-top:hover {
    background-color: #e86256;
    opacity: 1;
}

@media only screen and (min-width: 768px) {
    .cd-top {
        right: 20px;
        bottom: 20px;
    }
}

@media only screen and (min-width: 1024px) {
    .cd-top {
        height: 60px;
        width: 60px;
        right: 30px;
        bottom: 30px;
    }
}